.qotd {
    font-family: 'Open Sans', sans-serif;
}

td {
    vertical-align: top;
}

table {
    border-collapse: separate;
    border-spacing: 20px 0;
}

.qotd-header {
    text-align: center;
}

.qotd-problem {
    width: 600px;
    margin: 20px auto;
}

.qotd-multiproblem {
    width: 600px;
}

.qotd-big {
    font-size: 18px;
    margin-bottom: 10px;
}

.qotd-multi {
    width: 1200px;
    margin: 20px auto;
}

.qotd-text {
    margin-bottom: 20px;
    white-space: pre-wrap;
}

.qotd-choices {
    margin-left: 20px;
}

.qotd-choice {
    display: block;
}

.qotd-submit {
    margin-top: 20px;
}

.qotd-submitButton {
    margin-right: 10px;
}

.qotd-background {
    margin-top: 10px;
    margin-bottom: 10px;
}

.qotd-multiselector {
    margin-bottom: 10px;
}

.fa--centered {
    vertical-align: middle;
}

.fa--green {
    color: #00ee76;
}

.fa--red {
    color: red;
}

.fa--spacing-right {
    margin-right: 5px;
}

.fa--spacing-left {
    margin-left: 5px;
}

.fa--spacing-dbl-right {
    margin-right: 10px;
}

.fa--spacing-dbl-left {
    margin-left: 10px;
}