.qotd {
    font-family: 'Open Sans', sans-serif;
}

.qotd-header {
    text-align: center;
    margin-bottom: 20px;
}

.qotd-problem {
    width: 600px;
    margin: 20px auto;
}

.qotd-text {
    margin-top: 20px;
    margin-bottom: 20px;
}

.qotd-choices {
    margin-left: 20px;
}

.qotd-choice {
    display: block;
}

.qotd-submit {
    margin-top: 20px;
}
.qotd-submitButton {
    margin-right: 10px;
}

.fa--centered {
    vertical-align: middle;
}

.fa--green {
    color: #00ee76;
}

.fa--red {
    color: red;
}

.fa--spacing-right {
    margin-right: 5px;
}

.fa--spacing-left {
    margin-left: 5px;
}

.fa--spacing-dbl-right {
    margin-right: 10px;
}

.fa--spacing-dbl-left {
    margin-left: 10px;
}